@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Model.DataAccessLayer.M_Account>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
    
        @foreach (var item in Model)
        {
            <p>@Html.DisplayFor(Model => item.UserName)</p>
        }
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>
